.bars {
    margin-left: 40%;

    cursor: pointer;

}

* {
    font-family: 'Poppins', sans-serif;

}

@media(max-width:700px) {
    .sec1 {
        background-image: url(images/gla.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 200%;
        opacity: 90%;
        color: white;
    }

    .bars {
        /* margin-left: 40%;  */
        display: inline;
        transition: 2s;
        cursor: pointer;
        text-rendering: geometricPrecision;
    }

    .menu2 {
        margin-right: -10%;
        display: inline;
    }

    .menu2 img {
        width: 200px;
        margin-left: -5%;
    }

    .gallery {
        background-color: #f7b42c;
        background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
        padding: 10% 10% 10% 10%;

    }

    #img1 {
        box-shadow: 2px 2px yellow;
        margin-left: 10%;
    }

    #img3 {
        margin-left: 6%;
        box-shadow: 2px 2px yellow;
    }

    #img2 {
        margin-right: 6%;
        box-shadow: 2px 2px yellow;
    }

    #img4 {
        box-shadow: 2px 2px yellow;
    }

    footer {
        display: flex;
        margin-left: -20%;
        color: white;
        background-color: #537895;
        background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);

    }

    .social i {
        margin-left: -10%;
        display: grid;

    }

}

.bars a:hover {
    color: rgb(5, 44, 7);
    background-color: rgb(13, 163, 13);
    height: 2px;
    transition: 2s;
}

.bars a {
    padding: 6%;
    color: white;
}

.headings {
    display: flex;
    margin-left: 3%;
}

.headings h1 {
    font-size: 300%;
}

.headings img {
    padding-top: 4%;
    margin-top: 3%;
    border: 1px solid;
    padding: 1px 1px 1px 1px;

}

.h6 {
    margin-left: 10%;
    margin-top: -5%;
}

.sec1 {
    background-image: url(images/gla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400%;
    opacity: 90%;
    color: white;
}

.glass {
    margin-left: 40%;
    margin-top: 7%;
}

.about {
    text-align: center;
}

.offers {
    display: flex;
}

.offer2 {
    display: flex;
}

.sec2 {
    background-color: rgb(248, 244, 244);
}

.off1 {
    margin-left: 10%;
}

.fa-crown {
    background-color: rgb(51, 50, 50);
    border-radius: 50%;
    padding: 10%;
    color: yellow;
    box-shadow: 2px 2px 2px 2px yellow;
}

.fa-angellist {
    background-color: rgb(51, 50, 50);
    border-radius: 50%;
    padding: 10%;
    color: yellow;
    box-shadow: 2px 2px 2px 2px yellow;
}

.fa-canadian-maple-leaf {
    background-color: rgb(51, 50, 50);
    border-radius: 50%;
    padding: 10%;
    color: yellow;
    box-shadow: 2px 2px 2px 2px yellow;
}

.fa-centos {
    background-color: rgb(51, 50, 50);
    border-radius: 50%;
    padding: 10%;
    color: yellow;
    box-shadow: 2px 2px 2px 2px yellow;
}

.fa-fly {
    background-color: rgb(51, 50, 50);
    border-radius: 50%;
    padding: 10%;
    color: yellow;
    box-shadow: 2px 2px 2px 2px yellow;
}

.fa-wifi {
    background-color: rgb(51, 50, 50);
    border-radius: 50%;
    padding: 10%;
    color: yellow;
    box-shadow: 2px 2px 2px 2px yellow;
    cursor: pointer;
}

.fa-twitter {
    box-shadow: 2px 2px 2px 2px pink;
    margin-left: 2%;
    cursor: pointer;
}

.fa-twitter:hover {
    border: 2px solid yellow;
}

.fa-facebook {
    box-shadow: 2px 2px 2px 2px pink;
    margin-left: 2%;
    cursor: pointer;
}

.fa-facebook:hover {
    border: 2px solid yellow;
}

.fa-facebook-messenger {
    box-shadow: 2px 2px 2px 2px pink;
    margin-left: 2%;
    cursor: pointer;
}

.fa-facebook-messenger:hover {
    border: 2px solid yellow;
}

.fa-gofore {
    box-shadow: 2px 2px 2px 2px pink;
    margin-left: 3%;
    cursor: pointer;
}

.fa-gofore:hover {
    border: 2px solid yellow;
}

.off4 {
    margin-left: 15%;
}

.off3 {
    margin-left: 15%;
}

.off2 {
    margin-left: 15%;
}

.off4 {
    margin-left: 10%;
    margin-top: 5%;
}

.off6 {
    margin-left: 15%;
    margin-top: 5%;
}

.off5 {
    margin-left: 15%;
    margin-top: 5%;
}

.menu {
    display: flex;
    margin-left: 4%;
}

.menu1 h5 {
    background-color: rgb(202, 198, 178);
    height: 10%;
    width: 120%;
    text-align: center;
    padding-top: 2%;
    border-radius: 10px;

}

.menu2 {
    margin-left: 10%;
}

.menu3 {
    margin-left: 10%;
}

section.foot {
    background-color: rgb(58, 58, 58);
}

footer {
    display: flex;
    margin-left: 10%;
    color: white;

}

.category {
    margin-left: 15%;

}

.post {
    margin-left: 15%;
}

.social {
    margin-left: 15%;

}

.gallery {

    background-color: rgb(221, 148, 53);
    padding: 1% 1% 1% 1%;
}

#img1 {
    box-shadow: 2px 2px yellow;
}

#img3 {
    margin-left: 6%;
    box-shadow: 2px 2px yellow;
}

#img2 {
    margin-left: 6%;
    box-shadow: 2px 2px yellow;
}

#img4 {
    margin-left: 6%;
    box-shadow: 2px 2px yellow;
}

.rashford {
    display: flex;
}

.fenandez {
    display: flex;
    margin-top: 10%;
}

.rashford img {
    background-color: rgb(226, 162, 23);
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: 2px 2px yellow;
}

.fenandez img {
    background-color: rgb(226, 162, 23);
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: 2px 2px yellow;
}

.rashford h5 {
    margin-left: 4%;
}

.fenandez h5 {
    margin-left: 4%;
}